<% if @page[:title]=="US Photo Album" || @page[:title]=="International Photo Album" %> 
<section id="photos" class="fabric"> 
	<div id="pageBox">
		<div class="container">
			
			
			<div class="mygallery">
      	<div class="tn3 album">
      	    <ol>
      	      
      	      <% @page.images.each do |i| %>
      	      <li>
          		    <h4><!-- title --></h4>
          		    <div class="tn3 description"><!-- desc --></div>
          		    <a href="<%= i.thumbnail("850x850").url %>">
          			  <%= image_tag(i.thumbnail("35x35").url) %>
          		    </a>
          		</li>
  			   		<% end %>
      		
      		</ol>
      	</div>
      </div>
      <div class="clear"></div>
			<%= raw @page.content_for(:body) %>
			
<% else %>
<section id="page" class="fabric"> 
	<div id="pageBox">
		<div class="container">
		  <% unless @page.content_for(:side_body).blank? %>
			  <div id="sideBar">
  				<%= raw @page.content_for(:side_body) %>
  			</div>
			<% end %>
			<div id="Content" <% unless @page.content_for(:side_body).blank? %><% else %>class="fullwidth"<% end %>>
				<%= raw @page.content_for(:body) %>
			</div>
			<div class="clear"></div>
<% end %>
		</div>
	</div>
</section> 

<script>
$(document).ready(function() {
	var contentHeight = $("#Content").height();
	$("#sideBar").css("min-height", contentHeight);
});
</script>